.Board {
  position: relative;
  margin: 0 auto;
  background-color: rgb(240, 236, 236);
  background-image: linear-gradient(rgb(255, 253, 253) 1px, transparent 1px),
    linear-gradient(90deg, rgb(253, 252, 252) 1px, transparent 1px);
}

.Cell {
  background: rgb(252, 0, 0);
  position: absolute;
}

.controls {
  margin-top: 20px;
}

.button {
  margin-left: 12px;
  cursor: pointer;
}
